.login-main {
  background-image: url('../../assets/images/homeImg.jpg');
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  height: 1000px;
  overflow: hidden;
}

.login-wrapper {
  top: 100px;
  left: 250px;
  position: relative;
  display: flex;
  justify-content: center;
}

.login-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.card-wrapper {
  background: slategray;
}

label {
  display: flex;
}

