.verify-form-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}

.verify-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.form-fields {
  margin: 10px;
}