.content-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 0 4px 6px #FFF5EE;
  border: 1px solid #faf9f6;
  padding: 10px;
}